table.container.mx-auto.mt-28.px-10.flex
  tr
    td
      = link_to t('authors.author.other'), authors_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
    td
      = link_to t('articles.article.other'), articles_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
    td
      = link_to 'Contact', statics_contact_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"    
    td
      = link_to t('authors.edit_author'), edit_author_registration_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
    td
      = link_to t('authors.log_out'), destroy_author_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: t('devise.sessions.sure_signed_out') }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
