p =t('devise.mailer.reset_password.hello', email: @resource.email)
p =t('devise.mailer.reset_password.text_one')
p =link_to t('common.change_password'), edit_password_url(@resource, reset_password_token: @token)
p =t('devise.mailer.reset_password.text_two')
p =t('devise.mailer.reset_password.text_three')
